@{
    ViewData["Title"] = "Home Page";
}
@model Pet
<link rel="stylesheet" href="~/css/lose.css"/>
<link href="https://fonts.googleapis.com/css2?family=Barrio&family=Major+Mono+Display&display=swap" rel="stylesheet">

<div class="container">
<h1>Oh My God! You Killed @Model.Name!</h1>

<a href="/reset" class="btn btn-outline-warning" id="button" role="button">Try again.</a>
</div>